.pastime-all {
    display: grid;
    grid-template-rows: 100% 50%;
}

.pastime-record {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pastime-btn {
    display: flex;
    justify-content: center;
}