body {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

.img-card {
    box-sizing: border-box;
    width: 300px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.img-card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.img-card img {
    width: 100%;
    border-radius: 17px;
    
    object-fit: contain;
}